<header>
    <div class="profile-container">
        <!-- Profile Picture -->
        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <!-- Profile Name -->
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <!-- Designation and About Me -->
        <div class="about-container">
            <h2>{{ site.designation }}</h2> <!-- You can define the 'designation' in _config.yml -->
            <p>{{ site.description | default: "About Me content" }}</p> <!-- About Me content -->
        </div>
    </div>
</header>
